@model IEnumerable<Assessment.JCCM.DataTypes.SportsComplexDto>


<div class="card mt-5">
    <div class="card-body">

        @Html.ActionLink("Create New", "Create")
        <hr />
        <table class="table table-dark table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeadOrganization)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalArea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OlympicVenueId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsMultiSportsComplex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SportName)
                </th>
                <th></th>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HeadOrganization)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalArea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OlympicVenueId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsMultiSportsComplex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SportName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            }


        </table>
    </div>
</div>

